html{
    font-size: 16px;
}
body{
    width: 100vw;
}
div{
    font-size: 2rem;
}
p{
    font-size: 2em;
}

.box{
    height: 300px;
    width: calc(50%);
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: right 50px;
}